.container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container svg,
.content,
.content h1 {
  margin-bottom: 1rem;
}

.container svg {
  font-size: 3rem;
}

.content h1 {
  font-weight: 600;
  font-size: 1.25rem;
}

.content p {
  color: var(--gray);
  margin-bottom: 0.5rem;
}

.container button {
  cursor: pointer;
  border: none;
  border-radius: 2rem;
  font-weight: 500;
  font-size: 16px;
  padding: 8px 20px;
  transition: all 150ms;
  color: var(--almost_white);
  background-color: var(--black);
}

@media (min-width: 768px) {
  .content {
    max-width: 30rem;
  }
}

@media (min-width: 1024px) {
  .content {
    max-width: 32rem;
  }

  .container button:hover {
    scale: var(--button_hover_scale);
  }
}
