.container {
  padding: var(--section_padding);
}

.container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img,
.sponsor_logo img {
  width: 3rem;
  height: auto;
}

.sponsor_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sponsor_logo p {
  font-weight: 700;
  text-transform: uppercase;
}
