.container {
  padding: var(--section_padding);
}

.container h2 {
  margin-bottom: 8px;
}

.container form {
  box-shadow: var(--shadow_medium);
  border-radius: 8px;
  padding: 16px;
  border: 1px solid var(--border_color);
}

.form_item {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form_item label {
  font-weight: 500;
  margin-bottom: 8px;
}

.form_item input {
  height: 48px;
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid var(--border_color);
}

.form_item input:focus {
  outline: 1px solid var(--black);
}

@media (min-width: 1024px) {
  .container {
    max-width: 750px;
    margin: 0 auto;
  }
}
